:root {
  --main-color: #444;
  --main-color-hover: #797878;
  --white-color: #fff;
}

/* RESETS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

*::selection {
  background-color: var(--main-color);
  color: var(--white-color);
}

a {
  color: var(--main-color);
  text-decoration: none;
  display: inline-block;
}

.btn {
  padding: 10px 15px;
  background-color: var(--white-color);
  border: 1px solid var(--main-color);
  transition: box-shadow 200ms, transform 200ms;
}

.btn:hover {
  box-shadow: 3px 3px 0 var(--main-color);
  transform: translate(-3px, -3px);
}

body {
  background-size: 5rem 5rem;
  background-image: linear-gradient(
      to right,
      rgba(0 0 0/3%) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(0 0 0/ 3%) 1px, transparent 1px);
  width: 100vw;
  height: 100vh;
}

/* NAV */

nav {
  margin: 10px;
  height: 70px;
  background-color: var(--white-color);
  border-right: 4px solid var(--main-color);
  border-left: 4px solid var(--main-color);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  inset: 0;
  z-index: 10;
}

nav .menu-item {
  transition: color 100ms;
}

.menu-item::before {
  content: "<";
}

.menu-item::after {
  content: " />";
}

nav #logo {
  font-size: 30px;
  font-weight: 800;
  padding: 10px 15px;
  background-color: var(--main-color);
  color: var(--white-color);
}

nav #logo:hover {
  border: 1px solid var(--main-color);
  background-color: transparent;
  color: var(--main-color);
}

nav .menu-right-side {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

nav .menu-right-side .menu-item {
  font-size: 16px;
  position: relative;
  padding: 10px 0;
}

.menu-item span::before {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--main-color);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 200ms ease-out;
}

.menu-item:hover span::before {
  width: 100%;
}

/* HEADER */

header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

/* 
  shapes start
*/

/* .circle {
  border-radius: 50%;
}

.white {
  background-color: var(--white-color);
  border: 1px solid var(--main-color);
  box-shadow: 2px 2px 0 var(--main-color);
}

.black {
  background-color: var(--main-color);
  border: 1px solid var(--white-color);
  box-shadow: 2px 2px 0 var(--white-color);
}

.circle-box {
  width: 50px;
  height: 50px;
  z-index: 11;
  position: absolute;
}

.circle-box > .circle {
  width: 100%;
  height: 100%;
/
}

.circle-box > .circle > .circle {
  width: 60%;
  height: 60%;
}

.circle-box:nth-child(2) {
  position: absolute;
  bottom: -70px;
  left: 10px;
}

.circle-box:nth-child(3) {
  position: absolute;
  right: 0;
  top: 0;
} */

/* 
  shapes end
*/

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding: 30px;
}

.title p {
  font-size: 24px;
}

.title h1,
.title h2 {
  font-size: 68px;
  line-height: 58px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  font-size: 14px;
}

/* POSTER */

.poster {
  position: relative;
  width: 261px;
  height: 348px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border: 1px solid var(--main-color);
  background-color: var(--white-color);
}

#me {
  width: 222px;
  height: 296px;
  background-image: url("/assets/media/me.jpg");
  background-position: center;
  background-size: cover;
  text-wrap: wrap;
  /* scale: 1.3; */
}
